*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  background: rgb(163, 163, 163);
}

.main {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

thead {
  background-color: grey;
  color: white;
  position: sticky;
  top: 0;
}

table {
  min-width: 1500px;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

tbody {
  background: white;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.75);
}

.btn {
  width: 100%;
  padding: 2px;
  cursor: pointer;
  border: 0;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: white;

  &:hover {
    background-color: rgb(0, 160, 160);
  }
}
